Flask==2.3.3
Werkzeug==2.3.7
SQLAlchemy==2.0.23
Flask-SQLAlchemy==3.0.5
Flask-Migrate==4.0.5
flask-bcrypt==1.0.1
flask-jwt-extended==4.5.2
python-dotenv==1.0.0
razorpay==1.4.2
psycopg2-binary==2.9.7
gunicorn==21.2.0
python-version==3.12.0